<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget.orgsecure" value="https://www.nuget.org/api/v2/" />
    <add key="Nuget.org" value="http://www.nuget.org/api/v2/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
