<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.txt">
	<targets>
		<target name="fallbackGroup" type="FallbackGroup" returnToFirstOnSuccess="true">
      <target name="databaseTarget" type="Database" connectionString="Server=.;Database=Template;Trusted_Connection=True;" commandText="INSERT INTO Log (LogDateTime, MachineName, Application, [Identity], LoggerName, LogLevel, Message, ExceptionSource, ExceptionClass, ExceptionMethod, ExceptionError, ExceptionStackTrace, ExceptionInnerMessage) VALUES (@LogDateTime, @MachineName, @Application, @Identity, @LoggerName, @LogLevel, @Message, @ExceptionSource, @ExceptionClass, @ExceptionMethod, @ExceptionError, @ExceptionStackTrace, @ExceptionInnerMessage)">
				<parameter name="@LogDateTime" layout="${date}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@Application" layout="${event-context:item=Application}" />
				<parameter name="@Identity" layout="${identity}" />
				<parameter name="@LoggerName" layout="${logger}" />
				<parameter name="@LogLevel" layout="${level:uppercase=true}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@ExceptionSource" layout="${event-context:item=ExceptionSource}" />
				<parameter name="@ExceptionClass" layout="${event-context:item=ExceptionClass}" />
				<parameter name="@ExceptionMethod" layout="${event-context:item=ExceptionMethod}" />
				<parameter name="@ExceptionError" layout="${event-context:item=ExceptionError}" />
				<parameter name="@ExceptionStackTrace" layout="${event-context:item=ExceptionStackTrace}" />
				<parameter name="@ExceptionInnerMessage" layout="${event-context:item=ExceptionInnerMessage}" />
			</target>
			<target name="logfile" type="File" fileName="nlog.txt" layout="${date:format=yyyy-MM-dd HH:mm:ss}|${machinename}|${event-context:item=Application}|${logger}|${level:uppercase=true}|${message}|${event-context:item=ExceptionSource}|${event-context:item=ExceptionClass}|${event-context:item=ExceptionMethod}|${event-context:item=ExceptionError}|${event-context:item=ExceptionInnerMessage}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="fallbackGroup" /><!-- Trace|Debug|Info|Warn|Error|Fatal -->
	</rules>
</nlog>